<div style="width: 1444px;margin: 0px auto">
  <nz-layout>
    <nz-header style="background: white">在线记事本</nz-header>
    <nz-layout>
      <nz-sider [nzWidth]="400" nzTheme="light">
        <nz-card class="node-card" (contextmenu)="contextMenu($event, addMenu)">
          <!--          添加新的文件夹-->
          <nz-dropdown-menu #addMenu="nzDropdownMenu">
            <ul nz-menu style="width: 200px">
              <li nz-menu-item (click)="addNodeModal = true">新建文件夹</li>
            </ul>
          </nz-dropdown-menu>
          <nz-empty *ngIf="nodes.length === 0"></nz-empty>
          <nz-tree
            nzBlockNode
            [nzData]="nodes"
            nzDraggable
            #tree
            (nzClick)="activeNode($event)"
            (nzOnDrop)="dropNode($event)"
            [nzSelectedKeys]="['x']"
            (nzDblClick)="openFolder($event)"
            [nzTreeTemplate]="nzTreeTemplate"
          ></nz-tree>
          <ng-template #nzTreeTemplate let-node let-origin="origin">
      <span class="custom-node">
        <span *ngIf="!node.isLeaf" (contextmenu)="showNodeMenu($event, menu,node)">
          <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" (click)="openFolder(node)"></i>
          <span class="folder-name">{{ node.title }}</span>
        </span>
        <!--        <span *ngIf="node.isLeaf" (contextmenu)="contextMenu($event, menu)">-->
        <!--          <i nz-icon nzType="file"></i>-->
        <!--          <span class="file-name">{{ node.title }}</span>-->
        <!--        </span>-->
      </span>
          </ng-template>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu style="width: 200px">
              <li nz-menu-item (click)="showAddNodeModal()">新建文件夹</li>
              <li nz-menu-item (click)="showAddNoteModal()">新建笔记</li>
              <li nz-menu-item><a (click)="editNode()">编辑</a></li>
              <li nz-menu-item (click)="copy('node')">复制</li>
              <li nz-menu-item (click)="paste()">粘贴</li>
              <li nz-menu-item (click)="deleteNode()">删除</li>
            </ul>
          </nz-dropdown-menu>
        </nz-card>
      </nz-sider>
      <nz-content>
        <nz-card class="node-card">
          <nz-list *ngIf="activatedNode" (contextmenu)="contextMenu($event, menu3)"
                   nzSize="small"
                   (cdkDropListDropped)="drop($event)"
                   cdkDropList nzBordered nzHeader="文件夹-{{activatedNode?.title}}" nzFooter="">
            <nz-list-item class="example-box" *ngFor="let note of notes;let i = index" cdkDrag
                          (contextmenu)="contextNoteMenu($event, menu2,note)">{{note.content}}
              <ul class="ant-list-item-action">
                <li><a (click)="editNote(note,i)">编辑</a></li>
                <li><a (click)="deleteNote(note)">删除</a></li>
              </ul>
            </nz-list-item>
          </nz-list>
          <nz-empty *ngIf="!activatedNode"></nz-empty>

        </nz-card>
      </nz-content>
    </nz-layout>

  </nz-layout>
</div>


<nz-dropdown-menu #menu2="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="copy('note')">复制</li>
    <li nz-menu-item nzDisabled>删除</li>
  </ul>
</nz-dropdown-menu>

<nz-dropdown-menu #menu3="nzDropdownMenu">
  <ul nz-menu style="width: 200px">
    <li nz-menu-item>新建</li>
    <li nz-menu-item>粘贴</li>
  </ul>
</nz-dropdown-menu>


<nz-modal [(nzVisible)]="noteModal" nzTitle="添加笔记" (nzOnCancel)="handleCancel()" (nzOnOk)="addNote()">
  <nz-form-item>
    <nz-form-control [nzSpan]="24">
      <textarea nz-input placeholder="输入笔记" nzAutosize [(ngModel)]="note"></textarea>
    </nz-form-control>
  </nz-form-item>

</nz-modal>

<nz-modal [(nzVisible)]="noteEditModal" nzTitle="编辑笔记" (nzOnCancel)="handleCancel()" (nzOnOk)="saveNote()">
  <nz-form-item>
    <nz-form-control [nzSpan]="24">
      <textarea nz-input placeholder="输入笔记" nzAutosize [(ngModel)]="editingNote.content"></textarea>
    </nz-form-control>
  </nz-form-item>

</nz-modal>

<nz-modal [(nzVisible)]="addNodeModal" nzTitle="新建文件夹" (nzOnCancel)="handleCancel()" (nzOnOk)="addBaseNode()">
  <nz-form-item>
    <nz-form-control [nzSpan]="24">
      <nz-input-group nzPrefixIcon="snippets">
        <input type="text" nz-input placeholder="文件名称" [(ngModel)]="baseNodeTitle"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</nz-modal>

<nz-modal [(nzVisible)]="nodeEditModal" nzTitle="编辑菜单" (nzOnCancel)="handleCancel()" (nzOnOk)="saveNode()">
  <nz-form-item>
    <nz-form-control [nzSpan]="24">
      <nz-input-group nzPrefixIcon="snippets">
        <input type="text" nz-input placeholder="文件名称" [(ngModel)]="menuName"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

</nz-modal>
