<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="jquery/jquery-3.4.1.min.js"></script>
    <script src="vue/vue.js"></script>
    <script src="element/index.js"></script>
    <link rel="stylesheet" type="text/css" href="element/index.css">
    <script src="vue/vue-router.js"></script>
    <script src="vue/page/Index.js"></script>
    <script src="vue/components/Tree.js?n=3"></script>
    <script src="vue/components/Note.js?n=3"></script>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
<div id="app">
    <router-view></router-view>
</div>
<script src="vue/router.js"></script>
</body>
</html>